<div class="jumbotron jumbotron-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
  >
    <div class="container">
      <h1 class="display-4">To ensure the safety of your ideas,</h1>
      <p>NoteNotes excels at noting them securely</p>
      <!-- <button class="btn btn-outline-danger">This is a Button</button> -->
      <a
        href="/auth/google"
        type="button"
        class="btn btn-outline-light text-warning me-2 mt-1"
        >Sign Up / Login</a
      >
    </div>
  </header>
</div>
