<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row">
    <div class="col-md-3 m-auto mt-5 ms-5 mb-3 w-100">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Create a Note</li>
        </ol>
      </nav>

      <div class="text center col-md-6">
        <h1 class="h3">What's on your mind?</h1>
      </div>
    </div>
    <div class="col-md-5 m-auto mb-0" id="wrapper">
      <form
        action="/dashboard/add"
        method="POST"
        class="position-relativ"
        id="paper"
      >
        <div
          id="margin"
          class="form-group mb-4 position-absolut"
          style="left: -1px; top: 1px; right: 1px"
        >
          <input
            class="form-control fw-bold border-0 fs-4"
            id="title"
            type="text"
            name="title"
            placeholder="Title"
            required
          />
        </div>

        <div class="form-group mb-4">
          <textarea
            id="text"
            name="body"
            id="body"
            rows="11"
            class="form-control pt-5 fs-4"
            placeholder="write your thoughts here"
            required
          ></textarea>
        </div>

        <div class="form-group me-5">
          <button type="submit" class="btn btn-primary btn-lg">
            <i class="bi bi-database-fill-check"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
