<!-- <div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative">
          This page does not exists
        </h1>
        <a href="/" class="btn btn-primary btn-lg">Back to Notes.</a>
      </div>
    </div>
  </main>
</div> -->
<!--  -->
<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="text col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1>404</h1>
        <h2>Uh, Ohh</h2>
        <h3>
          Sorry we cant find what you are looking for 'cuz its so dark in here
        </h3>
      </div>
      <div class="torch"></div>
    </div>
  </main>
</div>
