<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row row-sm-6 row-md-6 row-xs-6 align-items-center">
      <div class="col-md-6">
        <div>
          <img src="/img/2815114.png" class="img-fluid" alt="ai taking note" />
        </div>
      </div>
      <div class="col-md-6 col-lg-5 mb-6 mb-md-0 align-items-center">
        <h1 class="display-4 fw-light mb-4 position-relative">
          Personal Note App
        </h1>
        <p class="fs-4 mb-4">Trying to make thing easier for you</p>
      </div>
    </div>
  </main>
</div>
