:root {
  --background-color: #afeeee;
  --bs-primary-rgb: #12296c;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
  min-height: 80vh;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  background: linear-gradient(45deg, #1870ed 50%, #f18f88 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", cursive;
  font-weight: 800;
}

/* Center Component */
.container-fluid-custom {
  max-width: 1600px;
}

/* Button */
.btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 2rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary-rgb);
  --bs-btn-border-color: var(--bs-primary-rgb);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0043a8;
  --bs-btn-hover-border-color: #0043a8;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-rgb);
  --bs-btn-active-border-color: var(--bs-primary-rgb);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary-rgb);
  --bs-btn-disabled-border-color: var(--bs-primary-rgb);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary-rgb);
  --bs-btn-border-color: var(--bs-primary-rgb);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0043a8;
  --bs-btn-hover-border-color: #0043a8;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-rgb);
  --bs-btn-active-border-color: var(--bs-primary-rgb);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary-rgb);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary-rgb);
  --bs-gradient: none;
}
/* Where a user can use links such as "next", "previous" */
.pagination {
  --bs-pagination-color: var(--bs-primary-rgb);
  --bs-pagination-active-bg: var(--bs-primary-rbg);
  --bs-pagination-active-border-color: var(--bs-primary-rbg);
}

/* Home Page */
@media (min-width: 1200) {
  .home {
    background: url("/img/2815114.png") left bottom no-repeat;
  }
}
.deskboard {
  margin: 5% 30% 10% 10%;
  background-image: url("/img/.deskboard.png") left bottom no-repeat;
  /* width: 90%; */
}

.home-title::before {
  content: url("");
  position: absolute;
  left: -50px;
  top: -30px;
}

.home-title::after {
  content: url("");
  position: absolute;
  right: -50px;
  bottom: -30px;
}

/* card  */
.card-big-shadow {
  max-width: 100%;
  /* max-width: 320px; */
  position: relative;
}


.card[data-background="color"] .content a {
  color: #080000;
}
.card.card-just-text {
  /* padding: 90px 65px; */
  vertical-align: top;
  /* text-align: top; */
}

/*changed from 100px to 90 px padding-left:100p by haithem**/

.content {
  height: 250px;
  text-align: left;
  padding-left: 90px;
  box-shadow:0 2px 2px rgba(204, 197, 185, 0.5);
}

/* .card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
} */
.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
h4,
.h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}
/* h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
} */
/* .card .description {
  font-size: 16px;
  color: #66615b;
} */
.content-card {
  margin-top: 30px;
}
a:hover,
a:focus {
  text-decoration: none;
}

/* navbar */
.jumbotron {
  margin: 15px 60px 0px 30px;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://source.unsplash.com/2560x1950/?nature);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
  height: 300px;
}

/* SearchBox */

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  justify-content: center;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  background: blue;
}


/* Text area 




!!!!!!!!!!!??????wrong css by haithem


*/



/**/


#margin {
  margin-left: 12px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#title {
  background-color: transparent;
  border-bottom: 3px solid #fff;
  font-size: 20px;
  font-family: Courier, monospace;
  height: 28px;
  font-weight: bold;
  width: 220px;
}

/* media query !!!!!!!!?????? we dont need this :msg by haithem */

/*textarea {
  max-width: 100%;
  justify-content: center;
}*/
